<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      My first App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Absolute-Center">


  <div class="Absolute-Center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-card>

            <ion-card-header>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
              <ion-card-title>Card Title</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="3">
          <ion-button (click)="darkMode()" expand="block" fill="clear" shape="round">
            Dark
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button (click)="lightMode()" expand="block" fill="clear" shape="round">
            light
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-toggle [(ngModel)]="selected" (ngModelChange)="slide()"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>