<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title>
      My first App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="Absolute-Center">


  <div class="Absolute-Center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-card>

            <ion-card-header>
              <ion-card-subtitle>theme change</ion-card-subtitle>
              <ion-card-title>Dark theme stuff</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              demo to change theme using either buttons or slider
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="2" size-xs="2">
          <ion-button (click)="lightMode()" expand="block" fill="outline" shape="round">
            light
          </ion-button>
        </ion-col>
        <ion-col size-lg="2" size-xs="2">
          <ion-button (click)="darkMode()" expand="block" fill="outline" shape="round">
            Dark
          </ion-button>
        </ion-col>

      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-toggle [(ngModel)]="selected" (ngModelChange)="slide()"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>